{% extends "base.html" %}

{% block title_head %}
<title>Crear blog</title>
{% endblock title_head %}

{% block main %}

<form action="" method='POST'>
    {% csrf_token %}
    <p>
        Titulo {{form.titulo}}
    </p>
    <p>
        Autor {{form.autor}}
    </p>
    <p>
        Descripcion {{form.descripcion}}
    </p>
    <p>
        Fecha de creacion {{form.fecha_creacion}}
    </p>
    <p>el formato de la fecha es mes/dia/año</p>
    <input type="submit" value="Crear">
</form>

{% endblock main %}