{% extends "base.html" %}

{% block title_head %}
<title>Crear blog</title>
{% endblock title_head %}

{% block main %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>
    <p>el formato de la fecha es mes/dia/año</p>

    {# Incluye los archivos de CKEditor #}
    {% load static %}
    <script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock main %}
