{% extends "base.html" %}

{% block title_head %}
<title>Blog {{blog.id}}</title>
{% endblock title_head %}

{% block main %}

<div class='blog-detalle-container'>
    {% if blog.image %}
        <img src="{{ blog.image.url }}" alt="{{ blog.titulo }} Image">
    {% endif %}
    <h2>{{blog.titulo}} - {{blog.autor}} - {{blog.fecha_creacion}}</h2>
    <p>{{blog.descripcion}}</p>
    {% if request.user.is_authenticated %}
    <div class='links-detalle-blog'>
        <a href={% url 'actualizar_blog' blog.id %}>Actualizar</a> | <a href={% url 'eliminar_blog' blog.id %}>Eliminar</a>
    </div>
    {% endif %}
</div>



{% endblock main %}