@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* layout */

.nav {
  margin: auto;
  width: 90vw;
  height: 80px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link, .link-perfil {
  font-size: 16px;
  color: black;
  text-decoration: none;
}


.link-perfil {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  gap: 10px;
}

.link:hover, .link-perfil:hover {
  color: #5E17EB;
  text-decoration: underline;
  transition: 0.2s;

}

.boton-primario {
  color: white;
  background-color: #5E17EB;
  border-radius: 15px;
  padding: 5px 25px;
  text-decoration: none;
  border: 1px solid #5E17EB;
}

.boton-primario:hover {
  background-color: transparent;
  color: #5E17EB;
  transition: 0.2s;
}

.boton-secundario {
  color: black;
  background-color: #efefef;
  border-radius: 15px;
  padding: 5px 25px;
  text-decoration: none;
  border: 1px solid #efefef;
}

.boton-secundario:hover {
  background-color: transparent;
  border-color: black;
  transition: 0.2s;
}

.avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 100%;
}

.main-container {
  margin: 80px 0 150px 0;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  background-color: #5E17EB;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}


/* inicio */

.imagen-bienvenida {
  width: 70vw;
  height: 50vh;
  margin: auto;
}

.imagen-bienvenida img {
  width: 70vw;
  height: 50vh;
  object-fit: contain;
}

/* blog */

.header-blog {
  width: 70vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.header-blog h1 {
  font-size: 24px;
}

.blog-container {
  background-color: #efefef;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 40px 0 ;
  margin: 50px auto;
}

.blog-container h2 {
  font-size: 20px;
  text-transform: capitalize;
}

.blog-container p, .blog-container a{
  width: 90%;
  font-size: 16px;
  text-align: left;
}

.blog-container a, .header-blog a {
  font-size: 16px;
  color: #5E17EB;
}

.blog-container a:hover, .header-blog a:hover {
  transition: 0.2s;
  font-weight: bold;
}

/* detalle blog */

.links-detalle-blog {
  width: 90%;
}

/* acerca de mi */
.acerca-container {
  background-color: #efefef;
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  gap: 30px;
  padding: 40px 0 ;
  margin: 50px auto;
}

.acerca-imagen {
  width: 30%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.acerca-textos {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #5E17EB;
}


/* editar perfil form */

.container-editar-perfil {
  background-color: #efefef;
  width: fit-content;
  padding: 50px;
  border-radius: 15px;
  margin: auto;
}
