<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        {% block title_head %}
        <title>Natalia Chiara</title>
        {% endblock title_head %}
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <link href={% static 'css/styles.css' %} rel="stylesheet">
    </head>
    <body>
        <nav class='nav'>
            <a class='link' href={% url "inicio" %}>Home</a>
            <a class='link' href={% url "blogs" %}>Blogs</a>
            <a class='link' href={% url "acerca" %}>Acerca de mi</a>
            {% if not request.user.is_authenticated %}
            <a class='boton-primario' href="{% url 'login' %}">Iniciar sesión</a>
            <a class='boton-secundario' href="{% url 'registro' %}">Registrarse</a>
            {% else %}
            <a class='link' href={% url "detalle_perfil" %}>Perfil</a>
            <a class='boton-primario' href={% url 'editar_perfil' %}>Editar Perfil</a>
            <a class='boton-secundario' href="{% url 'logout' %}">Cerrar sesión</a>
            {% endif %}      
        </nav>

        <main class='main-container'>                        
            {% block main %}{% endblock main %}
        </main>

        <footer class='footer'>
           <a href='https://www.linkedin.com/in/natalia-chiara-792a84199/'>linkedin</a>
           <a href='https://github.com/NataliaChiara'>github</a>
        </footer>
        <script src={% static 'js/scripts.js'%}></script>
    </body>
</html>
