{% extends "base.html" %}

{% block title_head %}
<title>Blogs</title>
{% endblock title_head %}

{% block h1_header %}
Blogs
{% endblock h1_header %}

{% block main %}

<a href={% url "crear_automovil" %}>Crear blog</a>

{% if listado_de_blogs %}
<ul>
    {% for blog in listado_de_blogs %}
    <li><a href={% url 'detalle_automovil' blog.id %}>{{blog}}</a> | <a href={% url 'actualizar_automovil' blog.id %}>Actualizar</a> | <a href={% url 'eliminar_automovil' blog.id %}>Eliminar</a></li>
    {% endfor %}
</ul>
{% else %}
<p>No se encontraron blogs.</p>
{% endif %}


{% endblock main %}